/******

    CONSTANTS

  *******/
/******

    MIXINS

  *******/
/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
body,
html {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #777;
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
a,
a:active,
a:visited {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  color: #777;
}
a:hover,
a:active:hover,
a:visited:hover {
  color: #F18620;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 400;
  color: #F18620;
}
footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: 8%;
  padding: 50px;
}
.container,
.hidden-nav-wrapper {
  padding: 8%;
  padding-top: 5%;
}
.container {
  padding-bottom: 0;
}
.fluid {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 10px;
}
/* -----------------------------------*/
/* ---------->>> BODY <<<-----------*/
/* -----------------------------------*/
main {
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  position: relative;
  overflow-y: auto;
  height: 100vh;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition: transform 0.7s cubic-bezier(0.91, 0.01, 0.6, 0.99);
}
.nav-is-open main {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
@media only screen and (min-width: 1600px) {
  .container,
  .hidden-nav-wrapper {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1100px) {
  body {
    font-size: 120%;
  }
}
@media only screen and (min-width: 900px) {
  .container,
  .hidden-nav-wrapper {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 100%;
  }
}
/* -----------------------------------*/
/* ---------->>> NAV <<<-----------*/
/* -----------------------------------*/
.nav-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  float: right;
  overflow: hidden;
}
.nav-lines,
.nav-lines::before,
.nav-lines::after {
  position: absolute;
  border-radius: 1px;
  background: #777;
  display: block;
  width: 100%;
  height: 3px;
  content: "";
  top: 50%;
}
.nav-lines::before {
  top: -8px;
}
.nav-lines::after {
  top: 8px;
}
.nav-lines.active {
  background-color: transparent;
}
.nav-lines.active::before,
.nav-lines.active::after {
  top: 0;
}
/*******

  HIDDEN NAV

*******/
.hidden-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F0F0F0;
  visibility: hidden;
  -webkit-transition: visibility 0.7s linear;
  -moz-transition: visibility 0.7s linear;
  -o-transition: visibility 0.7s linear;
  transition: visibility 0.7s linear;
}
.hidden-nav .hidden-nav-wrapper {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: wrap;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition: transform 0.7s cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.nav-is-open .hidden-nav {
  overflow-y: hidden;
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.nav-is-open .hidden-nav-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition: transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.close-nav {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 50px;
  margin-left: -50px;
}
.close-nav-lines,
.close-nav-lines::before,
.close-nav-lines::after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  position: absolute;
  background: #F18620;
  display: block;
  content: "";
}
.close-nav-lines {
  background: transparent;
}
.close-nav-lines::before,
.close-nav-lines::after {
  top: 0;
}
.close-nav-lines::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-nav-lines::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.left-col,
.right-col {
  width: 100%;
}
.left-col {
  font-size: 3em;
}
.left-col h3 {
  font-size: 0.4em;
}
.right-col {
  margin-top: 50px;
}
.right-col ul li:nth-child(n+2) {
  display: inline;
  padding-right: 50px;
}
.right-col ul li:last-child {
  padding-right: 0;
}
@media screen and (min-width: 700px) {
  .left-col,
  .right-col {
    width: 50%;
  }
  .right-col {
    text-align: right;
    margin-top: 120px;
  }
  .content-links {
    width: 40%;
  }
}
/* -----------------------------------*/
/* ---------->>> CONTENT <<<-----------*/
/* -----------------------------------*/
.header-container {
  text-align: center;
  margin-top: 12%;
  margin-bottom: 20%;
}
.header-container h1 {
  letter-spacing: 5px;
  font-size: 2em;
}
.header-container h1,
.header-container p {
  margin: 0;
  -webkit-animation: slide-up 1s ease-in forwards;
  -moz-animation: slide-up 1s ease-in forwards;
  -o-animation: slide-up 1s ease-in forwards;
  animation: slide-up 1s ease-in forwards;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    top: 50px;
    position: relative;
  }
  100% {
    opacity: 1;
    top: 0;
    position: relative;
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    top: 50px;
    position: relative;
  }
  100% {
    opacity: 1;
    top: 0;
    position: relative;
  }
}
@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    top: 50px;
    position: relative;
  }
  100% {
    opacity: 1;
    top: 0;
    position: relative;
  }
}
@-o-keyframes slide-up {
  0% {
    opacity: 0;
    top: 50px;
    position: relative;
  }
  100% {
    opacity: 1;
    top: 0;
    position: relative;
  }
}
.text {
  width: 85%;
  margin: 50px auto 50px auto;
}
/* -----------------------------------*/
/* ---------->>> IMAGES / GRID <<<-----------*/
/* -----------------------------------*/
#cyLogo {
  width: 8%;
  height: 8%;
}
.img-with-white-bg {
  box-shadow: 0 0 10px #c4c4c4;
}
.screenshot {
  margin: 0;
  position: relative;
}
.screenshot img {
  width: 100%;
}
.index-grid {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  position: relative;
}
.grid-container img {
  width: 100%;
}
@media only screen and (min-width: 900px) {
  .grid-container img {
    width: 49.7%;
    vertical-align: top;
    margin-top: 5px;
  }
  .grid {
    width: 440px;
    margin-right: 5px;
  }
}
/* -----------------------------------*/
/* ---------->>> HOVER <<<-----------*/
/* -----------------------------------*/
.project_name {
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.workDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: 0;
  background: #F18620;
  color: #fff;
  padding: 20% 10%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.workDescription p {
  color: #fff;
}
.grid:hover .workDescription {
  overflow: hidden;
  opacity: 1;
}
.workImg {
  width: 100%;
  overflow: hidden;
}
/* -----------------------------------*/
/* ---------->>> BUTTONS <<<-----------*/
/* -----------------------------------*/
.chapter,
.content-links {
  text-align: center;
  margin: 10% auto 0 auto;
}
.chapter {
  color: #777;
  text-transform: none;
}
.chapter p {
  text-align: left;
}
.content-links .link {
  border: 1px solid #F18620;
  padding: 10px;
}

/*# sourceMappingURL=stylesCss.css.map */