/*
===================================

	styles.css
	styles for Charisse website

===================================
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Quicksand" sans-serif;
  background: #fff;
  font-size: 14px;
  color: #777;
  text-align: left;
  letter-spacing: 1px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

h1 {
  color: #F18620;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.5em;
}



.featurette-divider {
  margin-top: 5%;
  border-top: 1px solid black;
}

/* menu */
.navbar-default {
  text-align: left;
	background: none;
	border-color: #fff;
}

.navbar-default .navbar-collapse, {
	border-color: #fff;
}

#navbar ul li a {
	text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease-in-out;
}

#learn_more {
  font-family: "Lora", serif;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: #777;
}

#navbar ul li a:hover, #learn_more:hover {
	color: #F18620;
}

/* Underline Reveal 
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F18620;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

*/

footer {
  bottom:0;
  clear: both;
  margin-top: 8%;
  padding: 50px;
  margin-bottom: 0;
  text-align: center;
}


/*
  
  index

*/
  .content {
    max-width: 800px;
    font-weight: lighter;
  }

  .header h1 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    font-size: 2em;
    color: #F18620;
  }

  .header p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 1em;    
    line-height: 40px;
  }

  .article p {
    text-transform: none;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0;
  }

  .article h2 {
    text-align: center;
  }


  .link {
    text-align: center;
    margin-top: 5%;
  }

  .mock {
    -webkit-box-shadow: 2px 2px 2px 2px;
    -moz-box-shadow: 2px 2px 2px 2px;
    box-shadow: 2px 2px 2px 2px;
  }

  .plaintext p{
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.42857143;
  }

/*
  .greetings {
    font-family: "Lora", serif;
    color: #B0B0B0;
    text-align: center;
  }
*/
  .send_note {
    padding: 2%;
  }

  .end_note {
    padding: 0;
    margin-top: 5%;
    width: 100%;
    font-size: 1.5em;
  }

  .jumbotron {
    background: #fff;
    padding: 10%;
  }


  .section {
    margin-top: 8%;
    margin-bottom: 3%;
  }

  .section p{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  .image_hover {
    text-align: center;
  }

  #brief_sum {
    color: #F18620;
  }

  /* works grid */
  .col-md-4 {
    padding: 0;
  }

  .workImg {
    width: 100%;
    overflow: hidden;
  }

  .project_name {
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .workDescription {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(241, 134, 32, 1);
    color: #fff;
    padding: 20%;
    height: 100%;

    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }

  .workDescription p {
    color: #fff;
  }

  .col-md-4:hover .workDescription {
    overflow: hidden;
    opacity: 1;
  }

  .form_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  form {
    margin-right: auto;
    margin-left: auto;
    min-width: 50%;
    max-width: 50%;
    padding: 0;
  }

  form p{
    text-align: left;
  }

  input, textarea {
    padding: 0.5em;
    width: 100%;
  }

  textarea {
    resize: none;
  }

  .asterisk {
    color: #F18620;
  }

  #submit_notice {
    color: #B0B0B0;
    font-style: italic;
  }

  button {
    text-transform: uppercase;
    background: none;
    border: 1px solid #B0B0B0;
    padding: 10px;
    border-radius: 2px;

    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;

    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }

  button:hover {
    border: none;
    color: #efefef;
    background: #F18620;
  }

  #note_link {
    padding-top: 10px;
    padding-bottom: 10px;
  }


/*

  pages

*/



.work_feature {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}


.col-sm-6 {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#me {
  width: 80%;
  overflow: hidden;
}

.content {
  padding-top: 20px;
}

.content article {
  text-align: left;
}

header h1 {
  text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
  }

.work_title {
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #B0B0B0;
}

.work_title .container p {
  color: #B0B0B0;
}

.work_img {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.article_caption {
  text-align: left;
  padding: 8%;
  display: inline-block;
}

.article_img img {
  width: 80%;
  display: inline-block;

}

.cta {
  text-transform: none;
  font-family: "Lora", serif;
  font-size: 14px;
  color: #777;

  background: none;
  border: 1px solid #B0B0B0;
  padding: 10px;
  border-radius: 2px;

  -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;

    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;

  }

.cta:hover {
    border: none;
    text-decoration: none;
    color: #efefef;
    background: #F18620;
}

#email:visited {
  text-decoration: none;
}
